@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>
<RadzenLayout >
    <RadzenHeader  >
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="20">
            <RadzenSidebarToggle Click="@(() => _sidebar1Expanded = !_sidebar1Expanded)" />
            <RadzenLabel Text="Kings-Users" />
        </RadzenStack>
    </RadzenHeader>
    <div class="rz-shadow-7">
    <RadzenSidebar    @bind-Expanded="@_sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="/" Icon="home" />
            <RadzenPanelMenuItem Text="Gather the Kings" Path="KingsList" Icon="account_box" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    </div>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        <SurveyPrompt Title="Develop by Gerald Greyvenstein"></SurveyPrompt>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool _sidebar1Expanded = false;

    protected override void OnInitialized()
    {

        //_sidebar1Expanded = false;

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {

        _sidebar1Expanded = false;
        base.OnAfterRender(firstRender);
    }

}


@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@