@page "/"

<PageTitle>Welcome</PageTitle>

<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" class="rz-pt-8">
    Welcome to the world of Kings
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
    Please note this is for demo use only, you will be excited by a King if used for any other reasons
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle2" class="rz-pb-4">
    Start by clicking on Gather the King in the side panel
</RadzenText>


<RadzenStack AlignItems="AlignItems.Center">
    <div class="rz-shadow-7">
        <RadzenImage Style="height: 500px; width: 800px;" Path="LandingPage.png"/>
    </div>
</RadzenStack>