@page "/"

<PageTitle>Welcome</PageTitle>

<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" class="rz-pt-8">
    Welcome to the world of Kings
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
    Please note this is for demo pupuses, you will be excited by a King if used for any other reasons
</RadzenText>


<RadzenStack AlignItems="AlignItems.Center">
    <div class="rz-shadow-7">
    <RadzenImage Style="width: 800px;height: 500px"   Path="LandingPage.png" />
    </div>
</RadzenStack>

